<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Test View</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link rel="stylesheet" href="styles.css">
</head>
<body class="bg-light">
	<nav class="navbar navbar-expand-md gb-green">
		<img src="https://s3.amazonaws.com/freebiesupply/large/2x/green-bay-packers-logo-transparent.png" class="logo">
		<!--https://s3.amazonaws.com/freebiesupply/large/2x/green-bay-packers-logo-transparent.png-->
		<!--//placehold.it/100-->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-150">
				<li class="nav-item active">
					<a class="nav-link text-white" href="#">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="#">Link</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container story-top">
		{{{ body }}}
	</div>
</body>
</html>

