{{#each story}}
    <div class="card">
        {{#if this.entities.media}}
            {{#each this.entities.media}}
                <img class="img-thumbnail mx-auto d-block mt-3 tweet-image" src="{{this.media_url}}">
            {{/each}}
            <div class="card-body">
                {{#if this.entities.urls}}
                    {{#each this.entities.urls}}
                        <a href="{{this.url}}" class="col-12 col-sm-10">
                    {{/each}}
                {{/if}}
                <p class="card-text text-center">{{stripUrl this.full_text}}</p>
                {{#if this.entities.urls}}
                    {{#each this.entities.urls}}
                        </a>
                    {{/each}}
                {{/if}}
            </div>
            <div class="card-footer w-100 text-muted">
                {{displayTime this.created_at}}
            </div>
        {{else}}
            <div class="card-body border-0">
                <div class="row">
                    <img src="{{this.user.profile_image_url}}" alt="" class="col-12 col-sm-auto rounded-circle mx-auto mb-2 profile-image">
                    {{#if this.entities.urls}}
                        {{#each this.entities.urls}}
                            <a href="{{this.url}}" class="col-12 col-sm-10">
                        {{/each}}
                    {{/if}}
                    <p class="card-text pl-3">{{stripUrl this.full_text}}</p>
                    {{#if this.entities.urls}}
                        {{#each this.entities.urls}}
                            </a>
                        {{/each}}
                    {{/if}}
                </div>
            </div>
            <div class="card-footer w-100 text-muted">
                {{displayTime this.created_at}}
            </div>
        {{/if}}
    </div>
    <br />
{{/each}}