.tweet-image {
	width: 18rem !important;
}
.profile-image {
	height: 48px !important;
	max-width: 78px !important
}
.gb-green {
	background-color: #183028;
}
.ml-150 {
	margin-left: 150px;
}
.nav-link:hover {
	text-decoration: underline;
}
.logo {
	max-height: 100px !important;
	position: absolute;
	top: 5px;
	left: 10px;
	z-index: 100
}
.story-top {
	margin-top: 4rem !important;
}